In [62]:
x = 1
y = 0

In [63]:
x / y

ZeroDivisionError: division by zero

In [ ]:
try:
    result = x / y

except ZeroDivisionError as e:
    result = None
    print("エラーが発生しました：" + str(e))
    print("0で割ることはできません。結果をNoneに設定します。")
    
print("結果：" + str(result))

エラーが発生しました：division by zero
0で割ることはできません。結果をNoneに設定します。
結果：None

## 複数のエラーが発生する可能性がある場合

In [ ]:
try:
    result = x / z

except ZeroDivisionError as e:
    result = None
    print("エラーが発生しました：" + str(e))
    print("0で割ることはできません。結果をNoneに設定します。")
    
except NameError as e:
    result = None
    print("エラーが発生しました：" + str(e))
    print("変数が定義されていません。結果をNoneに設定します。")

print("結果：" + str(result))

エラーが発生しました：name 'z' is not defined
変数が定義されていません。結果をNoneに設定します。
結果：None

## エラーが発生しなかった場合のみに実行したい処理がある場合

In [ ]:
z = 3

try:
    result = x / z

except ZeroDivisionError as e:
    result = None
    print("エラーが発生しました：" + str(e))
    print("0で割ることはできません。結果をNoneに設定します。")

except NameError as e:
    result = None
    print("エラーが発生しました：" + str(e))
    print("変数が定義されていません。結果をNoneに設定します。")
else:
    print("エラーは発生しませんでした。計算結果を表示します。")
print("結果：" + str(result))

エラーは発生しませんでした。計算結果を表示します。
結果：0.3333333333333333

## エラーの発生の有無にかかわらず実行したい処理がある場合

In [ ]:
try:
    result = x / z

except ZeroDivisionError as e:
    result = None
    print("エラーが発生しました：" + str(e))
    print("0で割ることはできません。結果をNoneに設定します。")

except NameError as e:
    result = None
    print("エラーが発生しました：" + str(e))
    print("変数が定義されていません。結果をNoneに設定します。")
else:
    print("エラーは発生しませんでした。計算結果を表示します。")
    
finally:
    print("計算処理が終了しました。")
    
print("結果：" + str(result))

エラーは発生しませんでした。計算結果を表示します。
計算処理が終了しました。
結果：0.3333333333333333

## システム終了以外の全てのエラーをハンドリングしたい場合

In [ ]:
x = 1
y = 0
z = 3

try:
    result = x / y
except ZeroDivisionError as e:
    result = None
    print("エラーが発生しました：" + str(e))
    print("0で割ることはできません。結果をNoneに設定します。")
except Exception as e:
    result = None
    print("エラーが発生しました：" + str(e))
    print("エラーが発生したため、結果をNoneに設定します。")
else:
    print("エラーは発生しませんでした。計算結果を表示します。")
finally:
    print("計算処理が終了しました。")
    print("結果：" + str(result))

エラーが発生しました：division by zero
0で割ることはできません。結果をNoneに設定します。
計算処理が終了しました。
結果：None

## webスクレイピングでのエラー処理

In [ ]:
import requests

In [ ]:
url = 'https://www.musashino-u.ac.jp/nothing'
response = requests.get(url)
print(f"ステータスコード: {response.status_code}")
response.raise_for_status()

ステータスコード: 404

HTTPError: 404 Client Error: Not Found for url: https://www.musashino-u.ac.jp/nothing

In [ ]:
path = ''

db_name = 'test.db'
conn = sqlite3.connect(path + db_name)
conn.close()

# DB作成

## DB (sqlite) を使う流れ

1. DBへのコネクションを確立
2. コネクションオブジェクトからデータ操作用のカーソルオブジェクトを取得
3. 実行したいSQLを定義
4. SQLを実行を
5. 必要があればコミットする
6. コネクションを閉じる

In [75]:
import requests

In [76]:
path = ''
db_name = 'car.db'

import sqlite3

conn = None
try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    sql = 'CREATE TABLE IF NOT EXISTS cars (id INTEGER PRIMARY KEY, name TEXT, price REAL);'
    cur.execute(sql)
    conn.commit()
except sqlite3.Error as e:
    print('エラーが発生しました：', e)
finally:
    if conn:
        conn.close()

## DBへのデータ挿入

In [77]:
path = ''
db_name = 'car.db'

conn = None
try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 7000000);"
    cur.execute(sql)
    conn.commit()
except sqlite3.Error as e:
    print('エラーが発生しました：', e)
finally:
    if conn:
        conn.close()

エラーが発生しました： UNIQUE constraint failed: cars.id

## DBへの複数データ挿入

In [78]:
path = ''
db_name = 'car.db'

conn = None
try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    cars = [
        (2,'911カレラ',15500000),
        (3,'GRスープラ',8000000),
        (4,'シビック Type-R',5000000)
]


    cur.executemany(sql, cars)
    conn.commit()
except sqlite3.Error as e:
    print('エラーが発生しました：', e)
finally:
    if conn:
        conn.close()

エラーが発生しました： UNIQUE constraint failed: cars.id

## DBのデータ読み出し

In [80]:
path = ''
db_name = 'car.db'

try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    sql_read = "SELECT * FROM cars;"
    cur.execute(sql_read)
    #conn.commit()
except sqlite3.Error as e:
    print('エラーが発生しました：', e)
else:
    rows = cur.fetchall()
    for row in rows:
        id, name, price = row
        print(id, name, price)

finally:
    if conn:
        conn.close()

1 370z 7000000.0
2 911カレラ 15500000.0
3 GRスープラ 8000000.0
4 シビック Type-R 5000000.0

## 削除

In [81]:
path = ''
db_name = 'car.db'

try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    # データを削除するSQL
    sql = "DELETE FROM cars WHERE id = 1;"
    
    cur.execute(sql)
    conn.commit()
except sqlite3.Error as e:
    print('エラーが発生しました：', e)
finally:
    if conn:
        conn.close()

## 更新

In [83]:
path = ''
db_name = 'car.db'

try:
    conn = sqlite3.connect(path + db_name)
    cur = conn.cursor()
    sql_update = "UPDATE cars SET price = ? WHERE id = ?;"
    cur.execute(sql_update, (5000000, 2))
    conn.commit()
except sqlite3.Error as e:
    print('エラーが発生しました：', e)
finally:
    if conn:
        conn.close()